<div class="table-footer clearfix">
    <div class="datatable-length pull-left">
        <label>
        <span>{{rowsPerPageText}}</span>
        <!-- <span v-if="perPage" class="perpage-count">{{perPage}}</span> -->
        <select class="browser-default" @change="perPageChanged">
            <option v-if="perPage" :value="perPage">{{perPage}}</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
            <option value="-1">{{allText}}</option>
        </select>
        </label>
    </div>
    <div class="pagination-controls pull-right">
        <a href="javascript:undefined" class="page-btn"  :class="{ disabled: !prevIsPossible }"
            @click.prevent.stop="previousPage" tabindex="0">
        <span class="chevron" v-bind:class="{ 'left': !rtl, 'right': rtl }"></span>
        <span>{{prevText}}</span>
        </a>
        <div class="info">{{paginatedInfo}}</div>
        <a href="javascript:undefined" class="page-btn"
            :class="{ disabled: !nextIsPossible }" @click.prevent.stop="nextPage" tabindex="0">
        <span>{{nextText}}</span>
        <span class="chevron" v-bind:class="{ 'right': !rtl, 'left': rtl }"></span>
        </a>
    </div>
</div>