<div class="good-table" :class="{'rtl': rtl}">
        <div :class="{'responsive': responsive}">
          <div v-if="title" class="table-header clearfix">
            <h2 class="table-title pull-left">{{title}}</h2>
            <div class="actions pull-right">
            </div>
          </div>
    
          <vue-ts-pagination
            v-if="paginate && paginateOnTop"
            :perPage="perPage"
            :rtl="rtl"
            :total="processedRows.length"
            :nextText="paginationNextText"
            :prevText="paginationPrevText"
            :rowsPerPageText="paginationRowsPerPageText"
            :ofText="paginationOfText"
            :allText="paginationAllText"
            @page-changed="pageChanged"
            @per-page-changed="perPageChanged"
            ></vue-ts-pagination>
    
          <table ref="table" :class="styleClass">
            <thead>
              <tr v-if="globalSearch && externalSearchQuery == null">
                <td :colspan="lineNumbers ? columns.length + 1: columns.length">
                  <div class="global-search">
                    <span class="global-search-icon">
                      <img src="../../images/search_icon.png" alt="Search Icon" />
                    </span>
                    <input type="text" class="form-control global-search-input" :placeholder="globalSearchPlaceholder" v-model="globalSearchTerm" @keyup.enter="searchTable()" />
                  </div>
                </td>
              </tr>
              <tr>
                <th v-if="lineNumbers" class="line-numbers"></th>
                <th v-for="(column, index) in columns"
                  :key="column.field"
                  @click="sort(index)"
                  :class="getHeaderClasses(column, index)"
                  :style="{width: column.width ? column.width : 'auto'}"
                  v-if="!column.hidden">
                  <slot name="table-column" :column="column">
                    <span>{{column.label}}</span>
                  </slot>
                </th>
                <slot name="thead-tr"></slot>
              </tr>
              <tr v-if="hasFilterRow">
                <th v-if="lineNumbers"></th>
                <th v-for="(column, index) in columns"
                  :key="column.field"
                  v-if="!column.hidden">
                  <div v-if="column.filterable" 
                    :class="getHeaderClasses(column, index)">
                    <input v-if="!column.filterDropdown"
                      type="search"
                      class=""
                      :placeholder="getPlaceholder(column)"
                      :value="columnFilters[column.field]"
                      v-on:input="updateFilters(column, $event.target.value)" />
    
                    <!-- options are a list of primitives -->
                    <select v-if="column.filterDropdown && typeof(column.filterOptions[0]) !== 'object'"
                      class=""
                      :value="columnFilters[column.field]"
                      v-on:input="updateFilters(column, $event.target.value)">
                        <option value="">{{ getPlaceholder(column) }}</option>
                        <option
                          v-for="option in column.filterOptions"
                          :key="option"
                          :value="option">
                          {{ option }}
                        </option>
                    </select>
    
                    <!-- options are a list of objects with text and value -->
                    <select v-if="column.filterDropdown && typeof(column.filterOptions[0]) === 'object'"
                      class=""
                      :value="columnFilters[column.field]"
                      v-on:input="updateFilters(column, $event.target.value)">
                      <option value="">{{ getPlaceholder(column) }}</option>
                      <option 
                        v-for="option in column.filterOptions"
                        :key="option"
                        :value="option.value">{{ option.text }}</option>
                    </select>
                  </div>
                </th>
              </tr>
            </thead>
    
            <tbody>
              <tr 
                v-for="(row, index) in paginated"
                :key="index"
                :class="getRowStyleClass(row)" 
                @click="click(row, index)">
                <th v-if="lineNumbers" class="line-numbers">{{ getCurrentIndex(index) }}</th>
                <slot name="table-row-before" :row="row" :index="index"></slot>
                <slot name="table-row" :row="row" :formattedRow="formattedRow(row)" :index="index">
                  <td 
                    v-for="(column, i) in columns"
                    :key="column.field" 
                    :class="getClasses(i, 'td')"
                    v-if="!column.hidden && column.field">
                    <span v-if="column.html" v-html="collect(row, column.field)"></span>
                    <span v-else>{{ collectFormatted(row, column) }}</span>
                  </td>
                </slot>
                <slot name="table-row-after" :row="row" :index="index"></slot>
              </tr>
              <tr v-if="processedRows.length === 0">
                <td :colspan="columns.length">
                  <slot name="emptystate">
                    <div class="center-align text-disabled">
                      No data for table.
                    </div>
                  </slot>
                </td>
              </tr>
            </tbody>
          </table>
    
          <vue-ts-pagination
            v-if="paginate && !paginateOnTop"
            :perPage="perPage"
            :rtl="rtl"
            :total="processedRows.length"
            :nextText="paginationNextText"
            :prevText="paginationPrevText"
            :rowsPerPageText="paginationRowsPerPageText"
            :ofText="paginationOfText"
            :allText="paginationAllText"
            @page-changed="pageChanged"
            @per-page-changed="perPageChanged"
            ></vue-ts-pagination>
        </div>
      </div>